body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/image/4.jpg); /* Replace with your background image path */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register-container {
    background-color: rgba(255, 255, 255, 0.8); /* Background color with transparency */
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.farmer-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

h2 {
    color: #4CAF50;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, select {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.login-link {
    margin-top: 15px;
    color: #888;
}

.login-link a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}
